@media(max-width: 1250px){
    .navigation{
        gap: 1em;

    }
    .homepg{
        /* width: 100%; */
        flex-direction: column;
    }
    #img1{
        margin-left: 0%;
        margin-right: 100%;
    }
    .girlsimg{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}